MONGODB_URI=mongodb://localhost:27017/zoop
JWT_SECRET=zoop_super_secret_key_change_in_production
PORT=5000
ADMIN_EMAIL=admin@zoop.com
ADMIN_PASSWORD=admin123
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
